[Unit]
Description=Waggle Network Firewall
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Wants=local-fs.target
After=local-fs.target

Conflicts=shutdown.target
Before=shutdown.target

[Service]
RemainAfterExit=true
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/waggle-firewall
ExecStop=/usr/bin/waggle-firewall -r

[Install]
WantedBy=multi-user.target
